:root {
    --dark-bg: #050505;
    --light-bg: #ffffff;
    --light-bg-gray: #f8f8f8;
    --accent: #31ccf6;
    --dark-font: #050505;
    --dark-font-gray: #2F4F4F;
    --light-font: #ffffff;
    --ff-title: "PT Mono ", monospace;
    --ff-body: "Inter", sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
}

.yt-embedded {
    width: 35rem;
    height: 23rem;
}

* {
    -webkit-overflow-scrolling: touch;
}

ul {
    top: calc(100% / 2 - 60px);
    position: fixed;
    height: auto;
    right: 10px;
}

li {
    list-style-type: none;
    width: 8px;
    height: 8px;
    background-color: var(--dark-font);
    border-radius: 4px;
    margin: 20px 15px;
    transition: 0.3s ease;
}

a,
a:hover {
    color: var(--dark-font);
    text-decoration: none;
}

.active {
    background-color: var(--accent);
}

.section {
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-card,
.section-content {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
}

.section-title {
    font-size: 3.1vmin;
    max-width: 28vh;
    font-family: var( --ff-title);
    font-weight: 700;
}

.paragraph-title {
    font-size: 155%;
    font-family: var( --ff-title);
    font-weight: 700;
}

.paragraph-sub-title {
    font-size: 110%;
    padding-bottom: 1%;
    font-family: var( --ff-body);
    font-weight: 500;
    color: var(--dark-font-gray);
}

.paragraph-image {
    max-width: 55vh;
    margin: auto;
}

.section-image {
    max-width: 25vh;
    margin: auto;
}

.paragraph-text,
.section-text {
    margin: auto;
    font-size: 100%;
    max-width: 45rem;
    max-height: 20rem;
}

.custom-section-btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: var( --ff-title);
    color: var(--dark-font);
    font-weight: 700;
    text-transform: capitalize;
    background: var(--light-bg);
    border: solid 2px var(--dark-font);
    padding: 0.5em 2em;
    margin-top: 5%;
    margin-bottom: 10%;
    transition: 0.3s;
}

.custom-section-btn:hover {
    background: var(--accent);
}

.social_icon {
    width: 4.9vh;
}

.social_icon:hover {
    background: var(--accent);
}

p {
    font-family: var(--ff-body);
    font-weight: 500;
}

#sec1,
#sec2,
#sec3,
#sec4,
#sec5,
#sec6 {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#sec1,
#sec3,
#sec5 {
    background-color: var(--light-bg);
}

#sec2,
#sec4,
#sec6 {
    background-color: var(--light-bg-gray);
}

.carousel_container {
    width: 80%;
    max-width: 55vh;
    margin: auto;
}

@media (max-width: 65em) {
    .paragraph-text,
    .section-text {
        margin: auto;
        font-size: 90%;
    }
    .section-text {
        margin-top: 10%;
    }
    .section-title {
        font-size: 155%;
    }
    .paragraph-title {
        font-size: 130%;
    }
    .paragraph-sub-title {
        font-size: 100%;
    }
    .section-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    #sec1,
    #sec2,
    #sec3,
    #sec4,
    #sec5,
    #sec6 {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
    #sec1 {
        height: 100vh;
    }
    li {
        visibility: hidden;
    }
    .custom-section-btn {
        width: 80%;
        align-content: center;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .paragraph-image {
        width: 100%;
    }
    .section-content {
        margin: auto;
        padding: 0;
    }
    .section-text,
    .paragraph-text,
    .paragraph-title,
    .paragraph-sub-title {
        padding-left: 10%;
        padding-right: 10%;
    }
    .section-image {
        width: 100vw;
        max-width: 50vh;
    }
    .section-title {
        padding-top: 10%;
    }
    .section-title,
    .social-icons {
        padding-left: 10%;
        padding-right: 10%;
    }
    .yt-embedded {
        width: 100vw;
        max-width: 30em;
        height: 18rem;
    }
    .carousel_container {
        width: 100%;
        padding: 0;
    }
}