#sec1,
#sec2,
#sec3,
#sec4,
#sec5,
#sec6 {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center
}

#sec1,
#sec3,
#sec5 {
    background-color: var(--light-bg)
}

#sec2,
#sec4,
#sec6 {
    background-color: var(--light-bg-gray)
}

* {
    -webkit-overflow-scrolling: touch
}

.active {
    background-color: var(--accent)
}

.carousel_container {
    margin: auto;
    max-width: 55vh;
    width: 80%
}

.custom-section-btn {
    background: var(--light-bg);
    border: solid 2px var(--dark-font);
    color: var(--dark-font);
    display: inline-block;
    font-family: var(--ff-title);
    font-weight: 700;
    margin-bottom: 10%;
    margin-top: 5%;
    padding: .5em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s
}

.custom-section-btn:hover {
    background: var(--accent)
}

.paragraph-image {
    margin: auto;
    max-width: 55vh
}

.paragraph-sub-title {
    color: var(--dark-font-gray);
    font-family: var(--ff-body);
    font-size: 110%;
    font-weight: 500;
    padding-bottom: 1%
}

.paragraph-text,
.section-text {
    font-size: 100%;
    margin: auto;
    max-height: 20rem;
    max-width: 45rem
}

.paragraph-title {
    font-family: var(--ff-title);
    font-size: 155%;
    font-weight: 700
}

.section {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-bottom: 15%;
    padding-top: 15%;
    width: 100%
}

.section-card,
.section-content {
    flex-direction: column;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%
}

.section-image {
    margin: auto;
    max-width: 25vh
}

.section-title {
    font-family: var(--ff-title);
    font-size: 3.1vmin;
    font-weight: 700;
    max-width: 28vh
}

.social_icon {
    width: 4.9vh
}

.social_icon:hover {
    background: var(--accent)
}

.yt-embedded {
    height: 23rem;
    width: 35rem
}

 :root {
    --accent: #31ccf6;
    --dark-bg: #050505;
    --dark-font: #050505;
    --dark-font-gray: #2F4F4F;
    --ff-body: Inter, sans-serif;
    --ff-title: "PT Mono ", monospace;
    --footer-bg: #091010;
    --light-bg: #fff;
    --light-bg-gray: #f8f8f8;
    --light-font: #fff
}

a,
a:hover {
    color: var(--dark-font);
    text-decoration: none
}

html,
body {
    margin: 0;
    padding: 0
}

p {
    font-family: var(--ff-body);
    font-weight: 500
}

@media (max-width: 65em) {
    #sec1 {
        height: 100vh
    }
    #sec1,
    #sec2,
    #sec3,
    #sec4,
    #sec5,
    #sec6 {
        align-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around
    }
    .carousel_container {
        padding: 0;
        width: 100%
    }
    .custom-section-btn {
        align-content: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 20%;
        width: 80%
    }
    .paragraph-image {
        width: 100%
    }
    .paragraph-sub-title {
        font-size: 100%
    }
    .paragraph-text,
    .section-text {
        font-size: 90%;
        margin: auto
    }
    .paragraph-title {
        font-size: 130%
    }
    .section-content {
        align-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding: 0
    }
    .section-image {
        max-width: 50vh;
        width: 100vw
    }
    .section-text {
        margin-top: 10%
    }
    .section-text,
    .paragraph-text,
    .paragraph-title,
    .paragraph-sub-title {
        padding-left: 10%;
        padding-right: 10%
    }
    .section-title {
        font-size: 155%;
        padding-top: 10%
    }
    .section-title,
    .social-icons {
        padding-left: 10%;
        padding-right: 10%
    }
    .yt-embedded {
        height: 18rem;
        max-width: 30em;
        width: 100vw
    }
}

.color-filter {
    filter: invert(100%) sepia(7%) saturate(450%) hue-rotate(312deg) brightness(117%) contrast(95%)
}

.footer {
    align-items: center;
    background: var(--footer-bg);
    color: #f8f8f8;
    display: flex;
    flex-direction: row;
    font-family: var(--ff-body);
    font-weight: 400;
    height: 10rem;
    justify-content: space-evenly;
    padding: 1%
}

.footer a {
    color: var(--light-bg)
}

.footer-icon {
    height: 2rem
}

.footer-icon:hover {
    filter: invert(71%) sepia(44%) saturate(1752%) hue-rotate(157deg) brightness(99%) contrast(95%)
}

body {
    margin: 0;
    overflow-x: hidden
}